@import "settings";
@import "foundation";

.top-bar {
  .row { max-width: 62.5rem; }
  .name h1 { 
    font-family: 'Rock Salt', cursive;
    font-size: 1.3em;
  }
}

.full-width {
  width: 100%;
  max-width: 100%; 
}

.hero {
  padding: 10px 0;
  #title {
    font-size: 3em;
    font-family: 'Rock Salt', cursive;
    text-shadow: 5px 5px #E0E0E0;
  }
}

.content {
  padding: 20px 0;
}

.row.signup {
  max-width: 500px;
  margin: auto;
}

.row.join-board {
  max-width: 400px;
  input { text-align: center}
}

.success.button:hover:not([disabled]) {
    background: #009900 !important; /*example */
}

.alert.button:hover:not([disabled]) {
    background: #E42217 !important; /*example */
}

#welcome-info {
  font-size: 3em;
}

canvas {
  cursor: none;
}

#canvas-logo {
  padding: 2px;
  margin: 30px;
  font-family: 'Rock Salt', cursive;
  font-size: 1.4em;
  opacity: 0.3;
  cursor: none;
  position:absolute;
  bottom:0;
  right:0;
}

@media #{$medium-up} { 
  .hero {
    #title {font-size: 4em;}
  }
  #welcome-info {
    font-size: 4em;
  }
}

@media only screen and (min-width: 55em) { 
  .content { padding: 40px 0; }
  .hero {
    .row.buttons { max-width: 1024px; margin: auto; }
    #title {font-size: 6em;}
  }
  #welcome-info {
    font-size: 6em;
  }
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
