<div class="container">
  <div id="options">
    <div class="colors" id="black"></div>
    <div class="colors" id="purple"></div>
  </div>
  <canvas id="draw" resize="true"></canvas>
  <script src="/js/options.js", canvas="draw"></script>
  <script src="/js/draw.js", type="text/paperscript", canvas="draw"></script>
</div>