<div class="icon-bar six-up">
  <a class="item">
    <i class="fa fa-pencil"></i>
    <label>Colors</label>
  </a>
  <a class="item">
    <i class="fa fa-circle-o"></i>
    <label>Size</label>
  </a>
  <a class="item">
    <i class="fa fa-eraser"></i>
    <label>Eraser</label>
  </a>
  <a class="item">
    <i class="fa fa-undo"></i>
    <label>Undo</label>
  </a>
  <a class="item">
    <i class="fa fa-save"></i>
    <label>Save</label>
  </a>
  <a class="item">
    <i class="fa fa-home"></i>
    <label>Home</label>
  </a>
</div>

<canvas class="main-section" id="draw" resize="true"></canvas>

<div id="canvas-logo">Slateless</div>

<script src="/js/paper-full.min.js"></script>
<script src="/js/options.js", canvas="draw"></script>
<script src="/js/draw.js", type="text/paperscript", canvas="draw"></script>