<div class="container">
  <div id="options">
    <a href="#"><div class="colors" id="black"></div></a>
    <a href="#"><div class="colors" id="red"></div></a>
    <a href="#"><div class="colors" id="purple"></div></a>
    <a href="#"><div class="colors" id="blue"></div></a>
    <a href="#"><div class="colors" id="green"></div></a>
    <a href="#"><div class="colors" id="yellow"></div></a>
    <a href="#"><div class="colors" id="orange"></div></a>
    <a href="#"><div class="colors" id="brown"></div></a>
  </div>
  <canvas id="draw" resize="true"></canvas>
  <script src="/js/options.js", canvas="draw"></script>
  <script src="/js/draw.js", type="text/paperscript", canvas="draw"></script>
</div>