h1 {
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.top-nav {
  position: fixed;
  top: 0;
  height: 32px;
  width: 100%;
  background: black;
  color: white;
  line-height:2em;
}

.top-nav h1 {
  font-size: 26px;
  display: inline;
  margin-left: 40px;
}

.top-nav a {
  color: white;
  text-decoration: none;
  font-family: Helvetica, Arial, sans-serif;
}

.top-nav ul {
  list-style-type: none;
  display: inline;
}

.nav li {
  float: right;
  display: inline;
  margin-right: 40px;
}

.container {
  margin-top: 32px;
}

#options {
  width: 100%;
  height: 40px;
  background-color: #E0E0E0;
  border-bottom: 4px ridge #909090;
}

#options .colors {
  display: inline-block;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  margin-top: 6px;
  margin-left: 40px;
  vertical-align: middle;
  border: 2px solid #000000;
}

#options #black {
  background-color: #000000;
}

#options #red {
  background-color: #FF0000;
}

#options #purple {
  background-color: #663399;
}

#options #blue {
  background-color: #000099;
}

#options #green {
  background-color: #009900;
}

#options #yellow {
  background-color: #FFFF00;
}

#options #orange {
  background-color: #FF9900;
}

#options #brown {
  background-color: #802A2A;
}

canvas {
  cursor: none;
}