<div class="container">
  <p><%= @current_user.email %></p>
  <% if @current_user.boards %>
    <% @current_user.boards.each do |board| %>
    <ul>
      <li><a href="/board/<%= board.url %>"><%= board.title %>
    </ul>
    <% end %>
  <% end %>
</div>