<div class="container">
  <p><%= @current_user.email %></p>
  <% if @current_user.boards %>
    <% @current_user.boards.each do |board| %>
    <ul>
      <li><%= board.url %>
    </ul>
    <% end %>
  <% end %>
</div>