<div class="content">
  <div class="medium-10 columns small-centered">
    <div class="row signup">
      <h1>Sign In</h1>
      <% if @error %>
      <div data-alert class="alert-box alert">
        <%= @error %>
        <a href="#" class="close">&times;</a>
      </div>
      <% end %>

      <form action="/account/signin" method="post" data-abide>
        <div class="email-field">
          <label>Email <small>required</small>
            <input type="email" required name="data[email]" placeholder="Email" value="<%= @email if @email %>">
          </label>
          <small class="error">Please provide your email address</small>
        </div>
        <div class="password-field">
          <label>Password <small>required</small>
            <input type="password" id="password" required name="data[password]" placeholder="Password">
          </label>
          <small class="error">Please provide your password</small>
        </div>
        <button type="submit">Sign In</button>
      </form>
      <hr>
      Not yet a member? <a href="/signup">Sign Up!</a>
    </div>
  </div>
</div>