<div class="content">
  <div class="medium-10 columns small-centered">
    <div class="row signup">
      <h1>Sign Up</h1>
      <% if @errors %>
      <p>Please correct the following errors:</p>
      <ul class="no-bullet">
        <% @errors.each do |error| %>
        <li style="color:red"><%= error %>
        <% end %>
      </ul>
      <% end %>

      <form action="/account/signup" method="post" data-abide>
        <div class="name-field">
          <label>First Name <small>required</small>
            <input type="text" required name="data[first_name]" placeholder="First Name" value="<%= @first_name if @first_name %>">
          </label>
          <small class="error">A first name is required</small>
        </div>
        <div class="name-field">
          <label>Last Name <small>required</small>
            <input type="text" required name="data[last_name]" placeholder="Last Name" value="<%= @last_name if @last_name %>">
          </label>
          <small class="error">A last name is required</small>
        </div>
        <div class="email-field">
          <label>Email <small>required</small>
            <input type="email" required name="data[email]" placeholder="Email" value="<%= @email if @email %>">
          </label>
          <small class="error">An email address is required</small>
        </div>
        <div class="password-field">
          <label>Password <small>required</small>
            <input type="password" id="password" required name="data[password]" placeholder="Password">
          </label>
          <small class="error">A password is required</small>
        </div>
        <div class="password-confirmation-field">
          <label>Confirm Password <small>required</small>
            <input type="password" required name="data[password_confirmation]" placeholder="Password Confirmation" data-equalto="password">
          </label>
          <small class="error">The password did not match</small>
        </div>
        <button type="submit">Sign Up</button>
      </form>
    </div>
  </div>
</div>