<div class="container">
  <div class="row text-center full-width hero">
    <h1>Welcome to Slateless</h1>
    <h4>A simple whiteboard app for teachers and students</h4><br>
    <a href="#" class="large radius button">Join a Board</a><br>
    <a href="#" class="large radius success button">Create a New Board</a>
  </div>
</div>