<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="/js/paper-full.min.js"></script>

  <title>Slateless</title>
</head>
<body>
  <%= erb :"partials/_navbar" %>
  <%= yield %>
</body>
</html>
